@model AgriSystemCore_Service.Domain.SensorDefinition
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">編輯感測器定義</h4>
        <ol class="breadcrumb">
            <li>
                根目錄
            </li>
            <li>
                系統功能
            </li>
            <li>
                感測器定義
            </li>
            <li class="active">
                編輯定義
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>編輯定義</b></h4>
            <hr />
            <form class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtName" class="col-sm-3 control-label">定義名稱</label>
                            <div class="col-sm-9">
                                <input id="txtName" type="text" class="form-control" placeholder="定義名稱" value="@Model.Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtRegex" class="col-sm-3 control-label">正則表達式(可不填)</label>
                            <div class="col-sm-9">
                                <input id="txtRegex" type="text" class="form-control" placeholder="正則表達式" value="@Model.Regex">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtCssClass" class="col-sm-3 control-label">CSS Class(可不填)</label>
                            <div class="col-sm-9">
                                <input id="txtCssClass" type="text" class="form-control" placeholder="CSS Class" value="@Model.CssClass">
                                <small>Weather-icons and Font Awesome .  ex. "wi wi-thermometer"、"fa  fa-bus"</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtNote" class="col-sm-3 control-label">簡單說明(可不填)</label>
                            <div class="col-sm-9">
                                <input id="txtNote" type="text" class="form-control" placeholder="簡單說明" value="@Model.Note">
                                <small>ex. 孝哥路上撿到的新溫度計、笨狗出門踢到的新溼度計、蜂哥腳上的加速度計…</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <hr />
                <div class="form-group m-b-0">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button id="btnSave" type="button" class="btn btn-default waves-effect waves-light">確定</button>
                        <button id="btnCancel" type="button" class="btn btn-default waves-effect waves-light">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section PageBottom{

    <script>
        var app = function () {
            return {
                init: function () {
                    $('#btnSave').click(app.save);
                    $('#btnCancel').click(app.cancel);
                },
                save: function () {

                    layout.block();

                    var obj = {
                        Id:'@Model.Id',
                        Name: $('#txtName').val(),
                        Regex: $('#txtRegex').val(),
                        Note: $('#txtNote').val(),
                        CssClass: $('#txtCssClass').val()
                    };

                    $.ajax({
                        url: '@Url.Action("SensorDefinition", "SensorDefinition")',
                        data: JSON.stringify(obj),
                        type: 'PUT',
                        dataType: 'json',
                        contentType : 'application/json',
                        success: function (data) {
                            if (data.success == true) {
                                alert('成功！');
                                window.location.href = '@Url.Action("Index", "SensorDefinition")';
                            }
                            else {
                                alert('錯誤!(' + data.msg + ')');
                                layout.unblock();
                            }

                        }
                    });

                },
                cancel: function () {
                    if (confirm('確定離開？')) {
                        window.location.href = '@Url.Action("Index", "SensorDefinition")';
                    }
                }
            }
        }();

        $(document).ready(app.init);
    </script>

}

